<settings>
  <id>SettingsInfoImpl--1ea0fb52:1655a31a419:-8000</id>
  <workspace>
    <id>WorkspaceInfoImpl-78ff667e:12476299803:-7ffd</id>
    <name>geonode</name>
  </workspace>
  <contact>
    <id>contact</id>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <!--<proxyBaseUrl>https://docker/geoserver/</proxyBaseUrl>-->
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
</settings>
